<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.nutee.repository.mapper.ArticleMapper">

	<select id="findAll" resultType="Article">
		SELECT a.*, u.nickname, 
			(SELECT COUNT(*) from Articleempathy e WHERE e.articleId = a.id) empathy 
		FROM Article a 
		LEFT JOIN user u ON a.userId = u.id
		WHERE a.deleted = 'N' AND a.boardId = #{boardId}
		ORDER BY a.id;
	</select>
	
	<select id="findAllByCategoryId" resultType="Article">
		SELECT a.*, u.nickname, 
			(SELECT COUNT(*) from Articleempathy e WHERE e.articleId = a.id) empathy 
		FROM Article a 
		LEFT JOIN user u ON a.userId = u.id
		WHERE a.deleted = 'N' AND a.categoryId = #{categoryId}
		ORDER BY a.id;
	</select>
	
	<select id="findAllByUserId" resultType="Article">
		SELECT a.*, u.nickname, 
			(SELECT COUNT(*) from Articleempathy e WHERE e.articleId = a.id) empathy 
		FROM Article a 
		LEFT JOIN user u ON a.userId = u.id
		WHERE a.deleted = 'N' AND a.userId = #{userId}
		ORDER BY a.id;
	</select>
	
	<select id="findOne" resultType="Article">
		SELECT a.*, u.nickname, 
			(SELECT COUNT(*) from Articleempathy e WHERE e.articleId = a.id) empathy 
		FROM Article a 
		LEFT JOIN user u ON a.userId = u.id
		WHERE a.deleted = 'N' AND a.id = #{id}
		ORDER BY a.id;
	</select>
	
	<update id="hit">
		UPDATE Article 
		SET hits = hits + 1 
		WHERE id = #{id}
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Article">
		INSERT Article(title, contents, userId, anonymous, categoryId, boardId)
		VALUES(#{title}, #{contents}, #{userId}, #{anonymous}, #{categoryId}, #{boardId})
	</insert>
	
	<update id="update">
	  	UPDATE Article
	  	SET title = #{article.title}, contents = #{article.contents}, 
	  	anonymous = #{article.anonymous}, categoryId = #{article.categoryId}
	  	WHERE id=#{id}
	</update>
	
	<update id="delete">
	  	UPDATE Article
	  	SET deleted = "Y"
	  	WHERE id = #{id}
	</update>

</mapper>