<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.nutee.repository.mapper.CommentMapper">

	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO COMMENT (contents, userId, anonymous, articleId)
		VALUES (#{contents}, #{userId}, #{anonymous}, #{articleId});
	</insert>
	
	<update id="update">
		UPDATE COMMENT
		SET contents = #{contents}, userId = #{userId}, anonymous = #{anonymous}, articleId = #{articleId}
		WHERE id = #{id}
	</update>

	<update id="delete">
		UPDATE COMMENT
		SET deleted = 'Y'
		WHERE id = #{id}
	</update>
	
</mapper>