<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.nutee.repository.mapper.FileMapper">

	<select id="findAllByFileTableIdAndColId" resultType="File">
		SELECT * FROM File
		WHERE fileTable = #{fileTable} AND colId = #{colId}
	</select>
	
	<select id="findFileNameById" resultType="String">
		SELECT fileName FROM File
		WHERE id = #{id}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT File(filePath, fileName, fileTableId, colId, fileType)
		VALUES(#{filePath}, #{fileName}, #{fileTableId}, #{colId}, #{fileType})
	</insert>
	
	<delete id="delete">
		DELETE FROM File
		WHERE id = #{id}
	</delete>

</mapper>