<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.nutee.repository.mapper.FileMapper">

	<select id="findOne" resultType="File">
		SELECT * FROM File
		WHERE id = #{id}
	</select>
	
	<insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="id" parameterType="File">
		INSERT File(fileName, fileType, fileSize)
		VALUES(#{fileName}, #{fileType}, #{fileSize})
	</insert>
	
	<delete id="delete">
		DELETE FROM File
		WHERE id = #{id}
	</delete>

</mapper>